    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer"
           href="#" class="simple-text logo-normal">
          CoCIS Chatbot Web
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">

        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>

          <li class="nav-item {% if 'course_list' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'events' %}">
              <i class="material-icons">content_paste</i>
              <p>Events</p>
            </a>
          </li>

            {% comment %}
          <li class="nav-item {% if 'class_timetables' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'class_timetables' %}">
              <i class="material-icons">content_paste</i>
              <p>Class Timetables</p>
            </a>
          </li>

          <li class="nav-item {% if 'exam_timetables' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'exam_timetables' %}">
              <i class="material-icons">content_paste</i>
              <p>Exam Timetables</p>
            </a>
          </li>
            {% endcomment %}

          <li class="nav-item {% if 'profile' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'show_self' %}">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>


        {% endif %}
        </ul>
      </div>

    </div>
