{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title" style="font-weight: 800;">
                      Class Timetables at CoCIS
                  </h4>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <tr class=" text-primary">
                        <th>ENTRY</th>
                        <th>COURSE</th>
                        <th>LECTURER</th>
                        <th>DEPARTMENT</th>
                        <th>DATE OF EXAMINATION</th>
                      </tr>

                      <tbody>
                        <tr>
                          <td>111</td>
                          <td>Dakota Rice</td>
                          <td>Niger</td>
                          <td>Oud-Turnhout</td>
                          <td class="text-primary">$36,738</td>
                        </tr>

                        <tr>
                          <td>111</td>
                          <td>Dakota Rice</td>
                          <td>Niger</td>
                          <td>Oud-Turnhout</td>
                          <td class="text-primary">$36,738</td>
                        </tr>

                        <tr>
                          <td>111</td>
                          <td>Dakota Rice</td>
                          <td>Niger</td>
                          <td>Oud-Turnhout</td>
                          <td class="text-primary">$36,738</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
